doctype 5
html(lang='en')
  head
    title= Blog
    link(href='http://fonts.googleapis.com/css?family=Trocchi|Old+Standard+TT:400italic', rel='stylesheet', type='text/css')
    style(type='text/css').
      body {
        width: 60%;
        min-width: 600px;
        margin: 0 auto;
        font-family: Trocchi, serif;
        font-size: 20px;
        text-rendering: optimizeLegibility;
      }

      h1 {
        font-weight: 400;
        font-size: 56px;
        text-transform: uppercase;
        font-style: italic;
        font-family: "Old Standard TT", serif;
        line-height: 100%;
      } 

      .entry .content {
        line-height: 180%;
      }

      .entry {
        padding: 50px 0px;
      }

      .new.entry {
        border-top: 2px dashed #eee;
      }

      .comment {
        font-size: 0.8em;
      }

      input, textarea {
        font-size: 20px;
        line-height: 24px;
        padding: 20px;
        background-color: #eee;
        border-radius: 5px;
        font-family: Trocchi, sans-serif;
        width: 100%;
        border: none;
        margin: 10px 0px;
        box-sizing: border-box;
      }

      input.tag {
        width: 30%;
        margin-right: 5%;
      }

      input.tag:last-child {
        margin-right: 0%;
      }

      textarea {
        height: 400px;
      }

      input.submit {
        width: 150px;
        background-color: orange !important;
        color: white;
        display: block;
      }

      .meta {
        padding: 20px 0px;
        border-top: 1px solid #eee;
        font-size: 14px;
        color: #ccc;
      }

      a {
        color: orange;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      span.tag {
        padding: 3px;
        border: 1px solid #ccc;
        margin-right: 5px;
      }

      span.tag:not(:last-child):after {
        content: ', ';
      }

      .add-comment input, .add-comment textarea {
        font-size: 0.8em;
        padding: 8px;
        background-color: #fff;
      }

      .add-comment {
        background-color: #eee;
        padding: 20px 50px;
      }

      .comment {
        margin-bottom: 40px;
      }


  body
    each entry in entries
      .entry
        h1= entry.title
        .content!= entry.renderedContent
        .meta
          | Posted #{entry.prettyCreated} by 
          a(href="mailto:#{entry.author.email}")= entry.author.name
          |  under 
          span.tags
            each tag in entry.tags
              span.tag= tag.tag
        h3 Comments
        if !entry.comments
          | None yet!
        else
          each comment in entry.comments
            .comment
              .author
                a(href="mailto:#{comment.author.email}")= comment.author.name
                |  says...
              .content!= comment.renderedContent
              .meta= comment.prettyCreated

        form.add-comment(action='/api/entry/#{entry.id}/comments', method='POST')
          h5 Got something to add?
          input(name='author[name]', placeholder='Name')
          input(name='author[email]', type='email', placeholder='Email')
          input(name='author[website]', placeholder='Website (optional)')
          textarea(name='content')
          input.submit(type='submit', value='Post')

    .entry.new
      h3 Create a new entry
      form(action='/api/entry', method='POST')
        h5 Who are you?
        input(name='author[name]', placeholder='Name')
        input(name='author[email]', type='email', placeholder='Email')
        input(name='author[website]', placeholder='Website')

        h5 What do you know?
        input(name='title', placeholder='Entry Title')
        textarea(name='content')

        h5 What was that about?
        .tags 
          input.tag(name='tags[0][tag]', placeholder='Tag 1')
          input.tag(name='tags[1][tag]', placeholder='Tag 2')
          input.tag(name='tags[2][tag]', placeholder='Tag 3')

        input.submit(type='submit', value='Post')
